footer {
    background-color: #000000;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-logo {
        img{
            width: 200px;
            height: 80px;
            margin:30px;
        }
    }
    .footer-parrafo {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
    }
    nav {
        ul{
            a{
                img{width: 75px;
                    height: 75px;
                }
            }
        }

    }
    .footer-adress {
        address{
            color: #ffffff;
            text-align: right;
        }
        address{
            color: #ffffff;
            text-align: right;
        }
    }
}