*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index:1;
}                                               
header img {
    width: 200px;
    height: 80px;
    margin:30px;
    
    
}
.color-nav {
    background-color:$color-principal;
    color: nth($list: $colores, $n: 3);
}
.color-opciones {
    color: nth($list: $colores, $n: 3);
}
.nav-link {
    color: nth($list: $colores, $n: 3);
    margin: 15px;
    
}
.nav-link:hover {
    background-color: nth($list: $colores, $n: 3);
    border: 1px solid;
    border-radius: 20px;

}
.color-boton {
    color: $color-principal;
    background-color: nth($list: $colores, $n: 3);
}
.navbar-toggler-icon {
    width: 40px;
    height: 40px;
    background-color: nth($list: $colores, $n: 3);
    border: 1px nth($list: $colores, $n: 3) solid;
    border-radius: 10px;
}